<!DOCTYPE html>
<html class="bg-black" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

    <title>UKKKKKK</title>
</head>

<nav class="flex items-center justify-between p-10 bg-black w-full text-gray-400 opacity-50 hover:opacity-100 border-b-2 border-b-gray-600">
    <h1 class="text-4xl font-bold opacity-50 hover:opacity-100"><a href="#">THE BEST</a></h1>
    <ul class="flex gap-8 text-xl">
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75" >Home</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a></li>
    </ul>
</nav>

<body>
    <h1 class="text-4xl font-bold justify-self-center " style="color:white"><i>EXPLORING </i>THE CONCEPT</h1>
    <p class="text-white m-5"><i>The United Kingdom,</i>  commonly known as the UK, is a fascinating blend of history and modernity. Comprised of four countries—England, Scotland, Wales, and Northern Ireland—the UK boasts a rich tapestry of cultural and historical heritage. From the bustling streets of London, where modern skyscrapers stand alongside historic landmarks, to the serene landscapes of the Scottish Highlands, the UK offers a diverse array of experiences.

        The British Isles have been home to many significant historical events and figures, contributing to the country's global influence in various fields such as literature, science, and politics. The UK is also renowned for its contributions to the arts, with iconic contributions to music, theater, and film.
        
        In addition to its cultural wealth, the UK is known for its educational institutions, such as the prestigious universities of Oxford and Cambridge, which have produced numerous notable alumni. The UK's culinary scene has evolved significantly over the years, blending traditional British fare with international cuisines, reflecting its multicultural population.
        
        Despite its relatively small size, the UK plays a significant role on the world stage, with its economy, culture, and political influence extending far beyond its shores.
        
        </p>
    <iframe width="110" height="200" src="https://www.myinstants.com/instant/ding-sound-effect/embed/" frameborder="0" scrolling="no"></iframe>
</body>

<footer class="w-full p-5 flex items-center justify-between bg-white">
    <h1>sdfafasd</h1>
    <ul class="flex flex-col gap-2 text-xl">
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75" >Home</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a></li>
    </ul>
</footer>
<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/toggle.js')}}"></script>
</html>