<!DOCTYPE html>
<html class="bg-black" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

    <script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>

    <title>UKKKKKK</title>
</head>

<nav
    class="flex items-center justify-between p-10 bg-black w-full text-gray-400 opacity-50 hover:opacity-100 border-b-2 border-b-gray-600">
    <h1 class="text-4xl font-bold opacity-50 hover:opacity-100"><a href="#">THE BEST</a></h1>
    <ul class="flex gap-8 text-xl">
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Home</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="#"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a></li>
    </ul>
</nav>

<body onload="getUser()">
    <div>
        <div class="flex justify-evenly">
            <div class="w-full" id="shit"></div>
            <div class="flex flex-col items-center justify-center w-full relative">
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/1" hx-swap="beforeend" hx-target="#london-textbox"
                    id="london" class="z-10 absolute bottom-36 right-[4rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/2" hx-swap="beforeend"
                    hx-target="#yorkshire-textbox" id="yorkshire" class="z-10 absolute bottom-80 right-[6.5rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/3" hx-swap="beforeend" hx-target="#scotland-textbox"
                    id="scotland" class="z-10 absolute top-[24rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/4" hx-swap="beforeend" hx-target="#wales-textbox"
                    id="wales" class="z-10 absolute bottom-48 left-[17rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/5" hx-swap="beforeend" hx-target="#sw-textbox"
                    id="sw" class="z-10 absolute bottom-36 left-[20rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/6" hx-swap="beforeend" hx-target="#se-textbox"
                    id="se" class="z-10 absolute bottom-36 right-[6rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/7" hx-swap="beforeend"
                    hx-target="#east-anglia-textbox" id="east-anglia" class="z-10 absolute bottom-48 right-[2rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/8" hx-swap="beforeend"
                    hx-target="#west-midlands-textbox" id="west-midlands"
                    class="z-10 absolute bottom-52 left-[20rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/9" hx-swap="beforeend"
                    hx-target="#east-midlands-textbox" id="east-midlands"
                    class="z-10 absolute bottom-56 right-[6.5rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/10" hx-swap="beforeend" hx-target="#nw-textbox"
                    id="nw" class="z-10 absolute bottom-[22rem] right-[12rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/11" hx-swap="beforeend" hx-target="#ne-textbox"
                    id="ne" class="z-10 absolute bottom-[25rem] right-[9rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-on:click="Toggle(this.id)" hx-get="/pins/12" hx-swap="beforeend" hx-target="#ni-textbox"
                    id="ni" class="z-10 absolute bottom-[23rem] left-[9rem]"><img
                        src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <img class="z-0" src="{{url_for('static',filename='Image/united-kingdom.svg')}}" alt="UK map">
                <div id="scotland-textbox" class="absolute bg-white top-[20rem] left-[16rem] z-10"></div>
                <div id="wales-textbox" class="absolute bg-white bottom-[13rem] left-[4rem] z-10"></div>
                <div id="sw-textbox" class="absolute bg-white bottom-[5rem] left-[8rem] z-10"></div>
                <div id="se-textbox" class="absolute bg-white bottom-[2rem] right-[2rem] z-10"></div>
                <div id="west-midlands-textbox" class="absolute bg-white bottom-[12rem] left-[12rem] z-10"></div>
                <div id="nw-textbox" class="absolute bg-white bottom-[22rem] left-[10rem] z-10"></div>
                <div id="ne-textbox" class="absolute bg-white -right-[1rem] z-10"></div>
                <div id="ni-textbox" class="absolute bg-white top-[25rem] -left-20 z-10"></div>
            </div>
            <div class="flex relative w-full h-full">
                <div id="london-textbox" class="absolute bg-white top-[40rem] left-10"></div>
                <div id="yorkshire-textbox" class="absolute bg-white top-[30rem]"></div>
                <div id="east-midlands-textbox" class="absolute bg-white top-[35rem] -left-20"></div>
                <div id="east-anglia-textbox" class="absolute bg-white top-[39rem] right-[23rem]"></div>
            </div>
        </div>
    </div>
</body>

<footer class="w-full p-5 flex items-center justify-between bg-white">
    <h1>sdfafasd</h1>
    <ul class="flex flex-col gap-2 text-xl">
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Home</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="#"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a></li>
    </ul>
</footer>
<script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/toggle.js')}}"></script>

</html>