<!DOCTYPE html>
<html class="bg-black" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

    <title>UKKKKKK</title>
</head>

<nav class="flex items-center justify-between p-10 bg-black w-full text-gray-400 opacity-50 hover:opacity-100 border-b-2 border-b-gray-600">
    <h1 class="text-4xl font-bold opacity-50 hover:opacity-100"><a href="#">THE BEST</a></h1>
    <ul class="flex gap-8 text-xl">
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75" >Home</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a></li>
    </ul>
</nav>

<body>
    <div>
        <div class="flex justify-evenly">
            <div class="w-full" id="shit"></div>
            <div class="flex flex-col items-center justify-center w-full relative">
                <button id="scotland" class="absolute top-[24rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="wales" class="absolute bottom-48 left-[17rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="sw" class="absolute bottom-36 left-[20rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="se" class="absolute bottom-36 right-[6rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="east-anglia" class="absolute bottom-48 right-[2rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="west-midlands" class="absolute bottom-52 left-[20rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="east-midlands" class="absolute bottom-56 right-[6.5rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="yorkshire" class="absolute bottom-80 right-[6.5rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="nw" class="absolute bottom-[22rem] right-[12rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button hx-get="/pins" hx-swap="beforeend" hx-target="#london-textbox" id="london" class="absolute bottom-36 right-[4rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="ne" class="absolute bottom-[25rem] right-[9rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <button id="ni" class="absolute bottom-[23rem] left-[9rem]"><img src="{{url_for('static',filename='Image/location-pin.png')}}" alt="location pin"></button>
                <img src="{{url_for('static',filename='Image/united-kingdom.svg')}}" alt="UK map">
            </div>
            <div class="flex relative w-full h-full">
                <div id="london-textbox" class="absolute bg-white left-9 top-[40rem]"></div>
            </div>
        </div>
    </div>
</body>

<footer class="w-full p-5 flex items-center justify-between bg-white">
    <h1>sdfafasd</h1>
    <ul class="flex flex-col gap-2 text-xl">
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75" >Home</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="#" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a></li>
    </ul>
</footer>
<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</html>