<!DOCTYPE html>
<html class="bg-black" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">

    <script src="https://cdn.auth0.com/js/auth0/9.18/auth0.min.js"></script>
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>

    <title>UK Explorers Guide</title>
</head>

<nav
    class="flex items-center justify-between p-10 bg-black w-full text-gray-400 border-b-2 border-b-gray-600">
    <h1 class="text-4xl font-bold opacity-50 hover:opacity-100"><a href="https://ukexplorersguide.wiki/">UK Explorers Guide</a></h1>
    <ul class="flex gap-8 text-xl">
        <li><a href="https://ukexplorersguide.wiki/"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Home</a></li>
        <li><a href="https://ukexplorersguide.wiki/about"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">About</a></li>
        <li><a href="https://ukexplorersguide.wiki/profile" id="profile-link"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Profile</a></li>
        <li>
            <a href="#" id="logout"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Logout</a>
            <a href="#" id="login"
                class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Register/Login</a>
        </li>
    </ul>
</nav>

<body onload="loaded()">
    <div class="min-h-screen flex items-center justify-center">
        <div class="flex items-center justify-center border-2 border-slate-600 p-10 flex-col gap-y-8">
            <h1 class=" text-4xl font-bold justify-self-center " style="color:white">Profile</h1>
            <div class="flex flex-row gap-x-10">
                <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" alt="Avatar"
                    class="rounded-full h-24 w-24 m-5" id="profile">
                <div class="flex flex-col">
                    <h4 class="text-white m-5" id="name">Loading...</h4>
                    <h4 class="text-white m-5" id="email">Loading...</h4>
                </div>
            </div>
        </div>
    </div>

    <script>
        function loaded() {
            getUser((user) => {
                if (!user) {
                    window.location.href = '/login';
                }

                const loginButton = document.querySelector('#login');
                const logoutButton = document.querySelector('#logout');
                const profileLink = document.querySelector('#profile-link');

                if (user) {
                    loginButton.style.display = 'none';
                    logoutButton.style.display = 'block';
                    profileLink.style.display = 'block';
                } else {
                    loginButton.style.display = 'block';
                    logoutButton.style.display = 'none';
                    profileLink.style.display = 'none';
                }

                loginButton.addEventListener('click', () => {
                    login();
                });
                logoutButton.addEventListener('click', () => {
                    logout();
                });

                const email = document.querySelector('#email');
                email.innerText =  `Email: ${user.email}`;
                const profile = document.querySelector('#profile');
                profile.src = user.picture;
                const name = document.querySelector('#name');
                name.innerText = `Name: ${user.nickname}`;
            });
        }
    </script>
</body>

<footer class="sticky bottom-0 text-white mx-20 bg-black border-t-2 border-t-gray-600"></footer>
    <div class="text-white bg-black px-20 py-10 flex items-center justify-evenly">
        <h1 class="text-4xl font-bold">UK Explorers Guide</h1>
        <ul class="flex flex-col gap-2 text-xl">
            <li><a href="https://www.linkedin.com/in/harvey-balcombe-b1b425268/" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Harvey's LinkedIn</a></li>
            <li><a href="https://www.linkedin.com/in/harvey-balcombe-b1b425268/" class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">Mr. Balcombe's LinkedIn </a>
            </li>
            <li><a href="https://www.linkedin.com/in/harvey-balcombe-b1b425268/"
                    class="hover:text-white hover:bg-gray-700 px-3 rounded-xl transition delay-75">H.B. on LinkedIn</a>
            </li>

        </ul>
    </div>
</footer>
<script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
<script src="{{url_for('static',filename='js/toggle.js')}}"></script>

</html>